@font-face{
    font-family: "Arial";
    src:url("assets/fonts/arial/arial.ttf");
    src:url("assets/fonts/arial/arial.woff");
}
header{
    text-align: center;

}
.sidebar{
    float: right;

}
.text{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-top: 225px;
    font-family: georgia;
    font-weight: normal;
}
.col-lg-12{
    margin-top: 20px;
}
.h2{
    margin-top: 10px;
    text-align: center;
    background-color: #1c2023;
    color: #fcfbff;
    font-size: 18px;
    padding-top: 10px;

}
.h2, h2 {
    margin: 0px;
    font-style: normal;
    font-size: 18px;
    color: #fcfbff;
    padding-top: 10px;
}
.section {
    text-align: center;
    width: 100%;
    margin: auto;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bar {
    background-color: #1c2023;
    width: auto;
    height: auto;
    position: relative;

}
.text2{
    text-align: center;
    color: #fcfbff;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
}


.greyp {
    width: 100px;
    height: auto;
}

.h2grey1 {
    color: #fcfbff;
    font-size: 24px;
    text-align: center;
    margin-left: -20px;
    margin-top: 2px;
    font-family: Century Gothic;
}

.center {
    text-align: center;
}

.row.conted {
    background-color: #1c2023;
    width: auto;
    height: auto;
    position: relative;
}
.hashtag {
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: -32px;
    margin-left: 70px;
    font-family:sans-serif;
    font-weight: bold;
    color: #0f0f0f;

}

.textbar {
    font-size: 19px;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(14, 28, 55);

}

.hashtag2 {
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: -22px;
    margin-left: 70px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;

}

.textbar2 {
    font-size: 19px;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(14, 28, 55);

}

.config {
    padding: 50px 50px;
    font-family:"Arial",sans-serif;

}

.footp {
    margin-top:auto;
    height: 50px;

}

.midd {
    padding: 45px 60px;
    word-spacing: 10px;
    margin-right: 50px;
    width:auto;
    height:auto;

}

.section {
    position: relative;
    width: 100%;
    height: 172px;
    margin: auto;
    background-color: #1c2023;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
}

#section1 {
    position: relative;
    width: 100%;
    height: 70px;
    margin: auto;
    background-color: #1c2023;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}


.social {
    text-align: center;
    background-color: #1c2023;
    margin: 0px;
    padding: 0px;
}

.social li {
    display: inline-block;
}

.social li a {
    display: block;
    width: 50px;
    height: 50px;
}

.social li a img {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 1200px){
    .config{
        padding: 14px 0px;
    }
    .midd{
        padding: 10px 10px;
        word-spacing: 10px;
        margin-right: 50px;
    }

}
@media only screen and (max-width: 991px){
    .config{
        padding: 14px 23px;
    }
    .head1{
        text-align: left;
        margin-top: 40px;
        float: left;
        margin-left: 0px;
    }
}
@media only screen and (max-width: 767px) {
    .config{
        padding: 14px 23px;
    }
}


@media only screen and (max-width: 606px){

    .text1{
        font-size: 19px;
        font-family: "Georgia";
        display: block;
        margin: 0 auto;
        margin-top: 185px;
    }
}
@media only screen and (max-width: 598px) {
    .text1 {
        font-size: 28px;
        font-family: "Georgia";
        display: block;
        margin: 0 auto;
        margin-left: 150px;
    }

}